      #footer_1,
      #footer_2 {
        width: 100%;
      }
      #footer_1 {
        height: 20%;
        background: rgb(237, 237, 237);
      }
      #footer_2 {
        height: 80%;
      }

      /*footer_1의 자식요소 a태그만 선택*/
      #footer_1 > a{
        text-decoration: none;
        color: black;
        margin: 33px;
        vertical-align: middle;
        font-size: 11px;

        &:hover{
            color: rgb(77, 78, 76);
        }
      }

      /*태그에 대한 세부스타일 설정*/
      #footer_2 > p{
        width: 100%;
        margin: 0;
        background: rgb(255, 255, 255);
        font-weight: lighter;
        font-family: sans-serif;
      }

      #p_1{
        height: 70%;
        font-size: 11px;
        padding-top : 5px;
        padding-left: 4px;
      }
      #p_2{
        height: 30%;
        font-size: 9px;
        padding-left: 4px;
      }

      